<section class="biography">

    <div class="flexrow">
        <div class="flexcol biography-element">
            <label class="attribute-label" for="data.biography.age.value">{{localize data.biography.age.label}}</label>
            <div class="flexrow">
                <input id="data.biography.age.value" class="attribute-number-value" name="data.biography.age.value" type="number"
                       data-dtype="{{data.biography.age.type}}"
                       value="{{data.biography.age.value}}" placeholder="{{localize data.biography.age.label}}"/>
                <span>{{localize "tor2e.actors.biography.years"}}</span>
            </div>
        </div>
        <div class="flexcol double-biography-element">
            <label class="attribute-label" for="data.biography.title.value">{{localize data.biography.title.label}}</label>
            <input id="data.biography.title.value" class="attribute-text-value" name="data.biography.title.value" type="text"
                   data-dtype="{{data.biography.title.type}}"
                   value="{{data.biography.title.value}}"/>
        </div>
        <div class="flexcol double-biography-element">
            <label class="attribute-label double-biography-element" for="data.biography.fellowshipFocus.value">{{localize
                    data.biography.fellowshipFocus.label}}</label>
            <input id="data.biography.fellowshipFocus.value" class="attribute-text-value" name="data.biography.fellowshipFocus.value" type="text"
                   data-dtype="{{data.biography.fellowshipFocus.type}}"
                   value="{{data.biography.fellowshipFocus.value}}"/>
        </div>
    </div>

    <div class="flexrow">
        <div class="flexcol biography-element double-biography-element">
            <label class="attribute-label" for="data.biography.culture.value">{{localize data.biography.culture.label}}</label>
            <input id="data.biography.culture.value" class="attribute-text-value" name="data.biography.culture.value" type="text"
                   value="{{data.biography.culture.value}}"
                   data-dtype="{{data.biography.culture.type}}"/>
        </div>

        <div class="flexcol biography-element">
            <label class="attribute-label" for="data.biography.standardOfLiving.value">{{localize data.biography.standardOfLiving.label}}</label>
            <select id="data.biography.standardOfLiving.value" class="attribute-text-value" name="data.biography.standardOfLiving.value">
                {{#select data.biography.standardOfLiving.value}}
                    {{#each config.standardOfLivingGroups as |name group|}}
                        <option value="{{group}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="flexcol biography-element double-biography-element">
            <label class="attribute-label" for="data.biography.culturalBlessing.value">{{localize data.biography.culturalBlessing.label}}</label>
            <input id="data.biography.culturalBlessing.value" class="attribute-text-value" name="data.biography.culturalBlessing.value" type="text"
                   value="{{data.biography.culturalBlessing.value}}"
                   data-dtype="{{data.biography.culturalBlessing.type}}"/>
        </div>
    </div>


    <div class="flexrow">
        <div class="flexcol biography-element">
            <label class="attribute-label" for="data.biography.calling.value">{{localize data.biography.calling.label}}</label>
            <select id="data.biography.calling.value" class="attribute-text-value" name="data.biography.calling.value">
                {{#select data.biography.calling.value}}
                    {{#each config.callingGroups as |name group|}}
                        <option value="{{group}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="flexcol double-biography-element">
            <label class="attribute-label" for="data.biography.shadowPath.value">{{localize data.biography.shadowPath.label}}</label>
            <input id="data.biography.shadowPath.value" class="attribute-text-value" name="data.biography.shadowPath.value" type="text"
                   value="{{data.biography.shadowPath.value}}" data-dtype="{{data.biography.shadowPath.type}}"/>
        </div>
    </div>

</section>